{* Latte template *}

{block content}
<h1 style="margin-left:5px;">{$article->nadpis}<span style="float: right;margin-right: 5px;">Facebook</span></h1>
<section class="whitefromgrey">
    <div style="padding: 10px;margin: 0;height: 100%;">
    {!$article->text}
    </div>
</section>