{* Latte template *}

{block footer}
<div id="footer">
	<div class="shell">
            <span class="left">&copy; {date("Y")}. <a n:href="Homepage:versions">CaravanAdmin v{\Caravans\Model\System::VERSION}</a></span>
		<span class="right">
                    Code: Vladimír Antoš & Bruno Puzják
		</span>
	</div>
</div>