{* Latte template *}

{block sidebar}
<div id="sidebar">
    <div class="box">
        <div class="box-head">
            <h2>{$stitle}</h2>
        </div>
        <div class="box-content">
            {include 'sidebars/'.$scontent.'.latte'}
        </div>
    </div>
    <!-- End Box -->
</div>