log/*
temp/*
vendor/*
nbproject/*
www/captcha/*
www/moxiemanager/*
www/tinymce/*
www/adminer/*
www/fonts/*
www/gallery/*
!vendor/others

.DS_Store
!.gitignore
!.htaccess
!web.config
caravans/config/config.neon
/nbproject/private/