log/*
temp/*
vendor/*
nbproject/*
www/captcha/*
www/moxiemanager/*
www/tinymce/*
www/adminer/*
www/fonts/*
www/gallery/*
!vendor/others
.htaccess
web.config

.DS_Store
!.gitignore
caravans/config/config.neon
/nbproject/private/