{* Latte template *}

{block content}
<section class="whitefromgrey" style="height: 500px">
    <div style="text-align: center;width: 100%">Omlouváme se, ale tato stránka je momentálně ve výstavbě<br>Děkujeme za pochopení</div>
</section>