{* Latte template *}

{block content}
<h1>
    {block title}
    {_messages.menu.g}
    {/block}
   
</h1>
<div class="whitefromgrey">
    <div style="text-align: center; min-height: 400px">
       {_messages.dealer.info|noescape}</div>
</div>