#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: Caravans\*Module\Presenters\*Presenter

	session:
		expiration: 14 days
	database:
		dsn: 'mysql:host=c146um.forpsi.com;dbname=f62049'
		user: f62049
		password: G22Gg2q
		debugger: yes
		options:
			lazy: yes

services:
	- Caravans\Backend\Model\UserAuthenticator
	- Caravans\RouterFactory
	- Caravans\Model\CaravanManager
	- Caravans\Model\CaravanImage
	- Caravans\Model\CategoryManager
	- Caravans\Model\ArticleManager
	- Caravans\Model\StatisticsManager
	router: @Caravans\RouterFactory::createRouter

constants:
	website: 'www.minikaravany.cz'
	caravanCostMin: 1000
	caravanCostMax: 1000000
	maxImageSize: 3000
	caravanIdLength: 6
	caravanImageIdLength: 8
	imageNameLength: 24
	galleryPath: '\www\gallery\'
	caravanGalleryPath: 'gallery/caravans/'
	caravanGalleryPath2: '/gallery/caravans/'
	categoryItemsPerPage: 6
	caravanImageWidth: 276
	caravanImageHeight: 162
	adminEmail: 'obchod@minikaravany.cz'

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension
translation:
	default: cs
	whitelist: [cs, de] #....
	fallback: [cs_CZ, cs]
	debugger: on