body{
    font: 14px Segoe UI;
}

.wrapper{
    width:80%;
    margin: auto;
    min-height: 400px;
    overflow: hidden;
}
table{
    width: 80%;
    margin: auto;
    background-color: lightgrey;
    padding: 5px 10px 5px 10px;
}

table th{
    background-color: lightslategrey;
}
table td{
    font-size: 15px;
    padding: 10px
}
label{
    font-weight: bold;
    margin-right: 15px;
}
input[type="text"]{
    height: 10px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px;
}
input[type="submit"],[type="reset"]{
    width: 70px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
}
select{
    height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
textarea{
    font-family: Segoe UI;
    width: 500px;
    height: 90px;
}
.title{
    font-size: 18px;
    font-weight: bold;
    color:navy;
}

.small-title{
    font-weight: bold;
    font-size: 15px;
    color: navy;
}