{* Latte template *}

{block content}
<h1 n:block="title">{_messages.menu.b}</h1>
<section class="whitefromgrey" style="height: 500px">
    <div style="text-align: center;width: 100%">{_messages.commons.sorry}</div>
</section>