homepage:
	title: 'Vítejte ve světe MINIKARAVANŮ'
	text1: 'Zabýváme se prodejem a výrobou stylových malých karavanů, souhrnně označovaných jako minikaravany, které si získávají stále větší oblibu mezi českými příznivci karavaningu a cestování vůbec. Díky svému úzkému zaměření právě na malé karavany jsme největším dodavatelem těchto typů karavanů v České republice.'
	text2: 'Náš sortiment zahrnuje jak obytné minikaravany pro klasické kempování, tak i speciálně upravené verze pro cyklisty, horolezce nebo třeba rybáře. Pro majitele tříkolek vyrábíme  skutečně malý minikaravan, který je určen speciálně za tyto stroje nebo za čtyřkolky.'
	text3: 'Výhodou minikaravanů je především to, že mohou být taženy i malými či nízkovýkonovými automobily, stejně jako čtyřkolkami či motorkářskými tříkolkami. Vzhledem ke své nízké váze a aerodynamickému tvaru mají minikaravany jen malý vliv na zvýšení spotřeby tažného vozidla, přitom však poskytují dostatečný komfort dvěma až třem dospělým osobám. Díky povolenému rychlostnímu limitu u většiny našich modelů není problémem ani cestovní rychlost 130 km/hod, což ocení především ti, kteří se vydají cestovat na delší trasy.'
	text4: 'Přes malé rozměry patří mezi standardní výbavu většiny našich obytných minikaravanů velké dvojlůžko, kuchyň s lednicí, dostatek úložných prostor, elektrická výbava a komfortní osvětlení. Díky doplňkové výbavě můžete u nás zakoupené minikaravany rozšířit například o solární panel, dřez s tekoucí vodou, střešní nosiče či nosiče na kola, audio/video soustavu nebo si vybrat ze <b>speciálních verzí</b> určených pro <b>cyklisty</b> nebo <b>rybáře</b>.'
	text5: 'K minikaravanům z naší nabídky si můžete pořídit i speciální stanové přístřešky nebo nafukovací stany ušité přímo pro naše modely (systém AirBeam®). Budete tak dokonale chráněni před nepříznivým počasím. Navíc dokážeme podle vašich přání naše karavany „obléct“ do barev, které budou ladit vašemu oku nebo s barvou vašeho vozu či tříkolky a to buď vhodným polepem nebo nástřikem celého karavanu. '
	text6: 'Všechny naše modely mají evropský certifikát pro schválený provoz po celé Evropě.'
	button: 'Modely zde'
	newsTitle: 'Nejnovější články'
menu:
	home: 'Domů'
	aa: 'Hlavní stránka'
	a: 'Modely'
	b: 'Galerie'
	c: 'Aktuality'
	d: 'Kontakt'
	e: 'E-shop'
	f: 'Výstavy'
	g: 'Dealerská síť'
	h: 'Přihlásit se'
caravansAll:
	title: 'Modely minikaravanů'
	download: 'Ke stažení'
	button: 'Více info'
caravan:
	price: 'Cena'
	size: 'Celkové rozměry'
	size2: 'Délka bez oje'
	totalWeight: 'Celková hmotnost'
	innerSize: 'Vnitřní rozměry'
	maxWeight: 'Pohotovostní hmotnost'
	maxWeight2: 'Nejvyšší tech. přípustná hmot.'
	extern: 'Exteriér'
	tax: 's DPH'
	notax: 'bez DPH'
	betSize: 'Rozměry lůžka'
	chassis: 'Podvozek'
	pneu: 'Pneu'
	power: 'Napájení'
	color: 'Barva'
	standartEquip: 'Standardní výbava'
	technicalSpec: 'Technické údaje'
	additionalEquip: 'Doplňková výbava'
	additionalEquipError: 'Tento karavan nemá žádnou doplňkovou výbavu'
	additionalEquipPriceInfo: 'Následující ceny jsou uvedeny bez DPH.'
	additionalEquipAdd: 'Přidat'
	additionalEquipAdd2: 'Přidáno'
	additionalEquipText: 'Najeď kurzorem na libovolný řádek a zobrazí se ti popis. Kliknutím na odkaz <span style="color: darkblue">Přidat</span>, umístíš položku do kalkulace (v pravém sloupci stránky nahoře).'
	special: 'Speciální edice'
	similar: 'Podobné karavany'
	eshopLink: 'Přejít na eshop'
	right:
		price: 'Vaše cena'
		text: 'Vyber doplňkovou výbavu kliknutím na tlačítko Přidat u příslušné položky.'
		conditions: 'Obchodní podmínky'
		sendEmailTitle: 'Zaslat na email'
		sendEmailText: 'Zaslat tento karavan a propočet na Váš email'
		equipPrice: 'Cena výbavy'
		total: 'Celkem'
		form:
			email: 'Váš email'
			captcha: 'Opiš text z obrázku'
			button: 'Odeslat'
			emailError: 'Chybný formát emailové adresy'
			captchaError: 'Špatně opsaný text z obrázku'
			sendEmail: 'Email byl odeslán'
commons:
	additionDate: 'Datum vložení'
	sorry: 'Omlouváme se, ale tato stránka je momentálně ve výstavbě.'
articlesAll:
	button: 'Více'
	nic: 'Bohužel nebylo zatím nic zveřejněno.'
gallery:
	picture: 'Obrázek'
	from: 'z'
	button: 'Zobrazit galerii'
contact:
	title: 'Kontaktní údaje na naši firmu'
	id: 'IČO'
	id2: 'DIČ'
	address: 'Adresa kanceláře'
	address2: 'Fakturační adresa'
contactForm:
	title: 'Kontaktujte nás'
	name: 'Jméno'
	email: 'Email'
	message: 'Text zprávy'
	button: 'Odeslat'
dealer:
	info: 'Síť dealerů, kteří budou prodávat naše minikaravany, právě budujeme. Prozatím zajišťuje jejich prodej po celé České republice<br>naše centrála v Ústí nad Labem. Kontakt najdete <a href="/kontakt">ZDE</a>.'
develop:
	title: 'Vývojáři'
	text1: 'Tvorba webových stránek'
	text2: 'Vývoj a správa administračních systémů, e-shopů a webových portálů'
	text3: 'Návrh, vývoj a správa databázových systémů a e-shopů'
	ref: 'Reference'
	linkedin: '<a href="http://lnkd.in/wCjjB8">Více na Linkedin</a>'
footer:
	text: 'Všechna práva vyhrazena'
	text2: 'Obytné minikaravany od MINIKARAVANY.CZ představují velmi populární alternativu jak spojit rychlé, ekonomické a pohodlné cestování.'
units:
	height: 'v'
	width: 'š'
	length: 'd'