homepage:
	title: 'Willkommen in der Welt der Minicaravans'
	text1: 'Unsere Firma produziert und verkauft stylische kleine Wohnwagen, die als Minicaravans genannt sind. Minicaravans sind immer häufiger auf den Straßen zu sehen und sind immer beliebter  von den Caravaning Fans und von den Touristen durch den ganzen Europa. Unsere Firma spezialisiert sich nur auf die kleine Wohnwagen und durch diese Spezialisation sind wir der Größte Produzent in der Tschechischen Republik.'
	text2: 'Unser Sortiment besteht sich nicht nur von Wohnwagen für klassisches Camping, aber auch von speziell bearbeiteten Typen für die Radfahrer, Bergsteiger oder Fischer. Für die Quadfahrer bieten wir einem wirklich kleinen Caravan an, der speziell für ein Quad geeignet ist.'
	text3: 'Der Vorteil der Minicaravans ist vor allem die hohe Mobilität. Durch ihren kleinen Gewicht und den aerodynamischen Form können die Caravans auch zum Quad oder zu den Wagen mit der niedrigen Leistung angehängt werden. Der Einfluss an Kraftstoffverbrauch ist aus diesen Gründen sehr klein. Obwohl ist der Aussicht des Caravans sehr kompakt, bietet sehr bequemen Innenraum. Nicht der letzte Vorteil ist die maximalle Geschwindigkeit von 130 km/h, also man kann mit dem Caravan auch die lange Reisen auf der Autobahn verbringen.'
	text4: 'Die Standardausstattung ist ein großes Doppelbett, die Küche mit dem Kühlschrank, Elektroausstattung mit Standard-und Ambiente Beleuchtung und genug Lagerraum.  Als Zusatzausstattung können Sie bei uns eine spezielle Version bestellen. So eine Version kann mit Solar System, mit dem Spülbecken und mit dem fließenden Wasser oder mit dem Dachträger/Fahrradträger ausgestattet werden. Natürlich bieten wir auch ein qualitatives Audio und Video System an.'
	text5: 'Was uns besonders attraktiv für den Kunden macht ist die Möglichkeit den Caravan mit dem Zelt verbreiten. Wir benutzen ein System, der nur für unsere Caravans produziert ist. Sie können zwischen klassischen Zelten oder Luft Zelt wählen. Das System für Luftzelte wurde von AirBeam® erfunden und geliefert. Selbstverständlichkeit ist Farbenkombination nach Ihrer Wahl. Sehr beliebt ist die Tonung in den gleichen Farben zu Quad oder anderen Kundenfahrzeug.'
	text6: 'Alle unsere Modelle sind für europäischen Verkehr zertifiziert.'
	button: 'Modelle hier'
	newsTitle: 'Aktuelle Artikel'
menu:
	home: 'Startseite'
	a: 'Modelle'
	b: 'Galerie'
	c: 'Aktuel'
	d: 'Kontakt'
	e: 'E-shop'
	f: 'Messe'
	g: 'Verkäufer'
	h: 'Login'
caravansAll:
	title: 'Modelle'
	download: 'Downloads'
	button: 'Mehr infos'
caravan:
	price: 'Preis'
	size: 'Gesamtmaße'
	size2: 'Länge ohne Deichsel'
	totalWeight: 'Gewicht'
	innerSize: 'Innenmaße'
	maxWeight: 'Leergewicht'
	maxWeight2: 'Zul. Gesamtgewicht'
	extern: 'Exterieur'
	tax: 'mit MwSt.'
	notax: 'ohne MwSt.'
	betSize: 'Bettgröße'
	chassis: 'Fahrwerk'
	pneu: 'Reifen'
	power: 'Stromanschluss'
	color: 'Farbe'
	standartEquip: 'Standardausstattung'
	technicalSpec: 'Technische Angaben'
	additionalEquip: 'Sondersausstattung'
	additionalEquipError: 'Dieser Wohnwagen hat keine Sondersausstattung'
	additionalEquipPriceInfo: 'Die folgende Preise sind netto (ohne MwSt.).'
	additionalEquipAdd: 'Hinzufügen'
	additionalEquipAdd2: 'Es wurde hinzugefügt'
	additionalEquipText: 'Schieben Sie den Cursor nach beliebige Zeile der Sonderausstattung und die Beschreibung zeigt sich an. Clicken Sie bitte auf Link „Hinzufügen“ und damit platzieren Sie den Betrag in der Berechnung. (oben in der rechten Kolumne der Seite)'
	special: 'Spezielle Edition'
	similar: 'Ähnliche Wohnwagen'
	eshopLink: 'Zum E-shop'
	right:
		price: 'Ihre Preis'
		text: 'Sonderausstatung wählen mit clicken auf die Taste Hinzfügen bei von Ihr gewählte Ausstattung'
		conditions: 'Geschäftsbedienungen'
		sendEmailTitle: 'Auf email schicken'  
		sendEmailText: 'Die Caravansangebot mit allen Preisen auf die Email Adresse schicken'
		equipPrice: 'Ausstattungpreis'
		total: 'Gesamt'
		totalWithTax: 'Celkem s DPH'
		form:
			email: 'Email'
			captcha: 'Ubschreib den Text'
			button: 'Senden'
			emailError: 'Fehlformat Ihre Email Adresse'
			captchaError: 'Ihrer Text ist von dem Bild falsch umgeschrieben'
			sendEmail: 'Email wurde gesendet'
commons:
	additionDate: 'Zugabedatum'
	sorry: 'Sorry, diese Seiten sind aktuell in der Bau.'
articlesAll:
	button: 'Mehr'
	nic: 'Sorry, diese Seiten sind aktuell in der Bau.'
gallery:
	picture: 'Obrázek'
	from: 'z'
	button: 'Zobrazit galerii'
contact:
	title: 'Kontakt auf unsere Firma'
	id: 'Firmen-Ident.-Nr.'
	id2: 'Ust.-Ident.-Nr.'
	address: 'Büro Adresse'
	address2: 'Rechnung Adresse'
contactForm:
	title: 'Kontaktieren Sie uns'
	name: 'Name'
	email: 'Email'
	message: 'Nachricht'
	button: 'Senden'
dealer:
	info: 'Das Vertreterrnetzbau in Deutschland ist jetzt im Prozess. Zur Zeit wird der Verkauf vom Firmenbetrieb in Usti nad Labem gesichert. <a href="/de/kontakt">HIER</a> finden Sie uns.'
develop:
	title: 'Entwickler'
	text1: 'Bildung des Websites'
	text2: 'Die Entwicklung und Systemadministratierung, E-shops und Web-Portale'
	text3: 'Struktur, Entwicklung und Verwaltung von Datenbanksystemen und E-Shops'
	ref: 'Referenzen'
	linkedin: '<a href="http://lnkd.in/wCjjB8">Mehr Infos unter Linkedin</a>'
footer:
	text: 'Alle rechte vorbehalten'
	text2: 'Die Wohnwagen von MINIKARAVANY.CZ präsentiert sehr populäre Alternative für schnelles, sparsames und bequemes Reisen.'
units:
	height: 'Hö'
	width: 'Br'
	length: 'Lä'