{* Latte template *}

{block content}
<h1>
    {block title}
    {_messages.menu.f}
    {/block}
   
</h1>
<div class="whitefromgrey">
    <div style="text-align: center; min-height: 400px">
       Nejbližší výstava, na které si můžete prohlédnout naše minikaravany, 
       bude Autosalon Liberec,<br>která proběhne v Liberci a to v termínu 10. – 12. října 2014.</div>
</div>