/* 

    Author     : Bruno Puzják
*/
body{
    padding: 0;
    margin: 0;
    background-image: url('img/background.jpg');
}

header{
    width:100%;
    text-align: center;
    padding-top: 5px;
    background-color: #dcd8d0;
    border-bottom: 3px solid #bdb8b0;

}
.header{
    width:1000px;
    text-align: center;
    padding: 5px;
    margin: auto;
    border: 1px solid #bdb8b0;
    border-top: none;
    border-bottom: none;
}
.header td{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #bdb8b0;
    border-top: none;
    border-bottom: none;
    font-family: OpenSans ;

}
.menu{
    padding: 10px;
    text-decoration: none;
    color: #666052;
    font-size: 80%;
}

.menu:hover{
    padding: 10px;
    background-color: #c02722;
    border-radius: 20px;
    cursor: pointer;
    color:white;
    text-decoration: none;
}

.submenu{
    display: none;
    position: absolute;
    background-color: #dcd8d0;
    margin-top: 20px;
    min-width: 150px;
    border: 2px solid white;
    font-size: 70%;
}
.submenu:hover{
    display: block;
}
.submenu img{
    width: 100%;
    margin-top:-15px;
}

.submenu ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    text-align: left;
}
.submenu li{
    border-bottom: 1px inset #bdb8b0;
}

.background1{
    height: 465px;
    width: 100%;
    background-image: url('img/background1.png');
    background-repeat: no-repeat;
    background-size: 100%;

}

.background2{
    height: 465px;
    width: 100%;
    background-image: url('img/background2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#main{
    margin: 0 auto;
    margin-top:-930px;
    width: 1000px;
    min-height: 600px;
}

#caravan{
    width:250px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0px 4px 3px #000000; 
    -moz-box-shadow: 0px 4px 3px #000000; 
    background-color: #be2722;
    text-align: center;
    padding: 2px;
}
#obsah{
    width: 100%;
    margin-top: 25px;
    background-image: url('img/background.jpg');
    border-top: 5px solid #bdb8b0;
    font-family: OpenSans;
}

button{
    background-color: #c02722;
    border-radius: 30px;
    padding: 8px;
    padding-left: 15px ;
    padding-right: 15px ;
    color:white;
    cursor: pointer;
}

.greyToDark{
    width: 100%;
    margin: 0;
    background-color: #666052;

    -webkit-border-image:url(img/bordertodark.jpg) 30 30 round; /* Safari 3.1-5 */
    -o-border-image:url(img/bordertodark.jpg) 30 30 round; /* Opera 11-12.1 */
    border-image:url(img/bordertodark.jpg) 30 30 round;
    border-top: 30px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.greyToDark img{
    border:4px solid #bdb8b0;
    width: 90%;
    margin-left: 3%;
    background-color: white;
}

.darkToWhite{
    width: 99%;
    margin: 0;
    background-color: white;

    -webkit-border-image:url(img/darktowhite.jpg) 30 30 round; /* Safari 3.1-5 */
    -o-border-image:url(img/darktowhite.jpg) 30 30 round; /* Opera 11-12.1 */
    border-image:url(img/darktowhite.jpg) 30 30 round;
    border-top: 30px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 5px;
}

.whiteToGrey{
    width: 100%;
    margin: 0;
    background-color: #c2beb5;

    -webkit-border-image:url(img/whitetogrey.jpg) 30 30 round; /* Safari 3.1-5 */
    -o-border-image:url(img/whitetogrey.jpg) 30 30 round; /* Opera 11-12.1 */
    border-image:url(img/whitetogrey.jpg) 30 30 round;
    border-top: 30px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    font-size: 70%;
    padding-bottom: 5px;
}

.left{
    float:left;
    border-radius: 50px 0px 0px 50px;
    margin-left:-40px;

}
.right{
    float:right;
    border-radius: 0px 50px 50px 2px;
    margin-right:-40px;

}
.sipka{
    border: 0;
    height: 50px;
    width:40px;
    font-size: 150%;
    margin-top:-100px

}
footer {
    width:800px;
    margin:0 auto;
    margin-top:10px;
    font-size: 90%;
    text-align: center;
}

#footer{
    width:40px;
    float:right;
    margin-right: -40px;
    margin-top: -280px;

}
#footer img{
    width:35px;
    margin-bottom: 5px;
    float:right;
    cursor: pointer;
}

.nadpis{
    width:100%;
    background-image: url('img/background.jpg');
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.whitefromgrey{
    border:0;
    border-image: url('img/greytowhite.jpg') 30 30 round;
    border-top: 30px;
    background-color: white;
}
.rozcestnik{
    width: 100%;
}
.rozcestnik article{
    display: inline-block;
    width:29%;
    padding: 20px;
    border-right: 1px dashed #bdb8b0;
    vertical-align: top;
}

.rozcestnik img{
    width: 95%;
    border:5px solid #bdb8b0;
    padding: 2px;
}
.rozcestnik p{
    font-size: 80%;
}

.detail > div{
    display: inline-block;
    margin-left: 1.5%;
    padding-right: 1.5%;
    width: 330px; 
    margin-bottom: 5px;
    vertical-align: top;
    border-right: 1px dashed #bdb8b0;
}
#mainImage{
    width:98%;
    border:3px solid #bdb8b0;
}
.galerie{
    margin:0;
}
.galerie img{
    margin-left:1%;
    width: 30%;
    border:1px solid #bdb8b0;
}
.galerie > h4{
    margin-bottom: 0;
}
.cena{
    margin:0;
    padding: 0;
    font-size: 200%;
    padding-right: 10px;
}
.udaje hr{
    vertical-align: middle;
    display: inline-block;
}
.udaje{
    margin-top: 15px;
    width: 100%;
}
.udaje img{
    width: 100px;
    vertical-align: middle; 
    cursor: pointer;
}

.vpravo{
    
    border-radius: 30px 0px 0px 0px;
    padding: 20px;
    margin:0;
    margin-top: 10px;
    background-color:  #c2beb5;
    color: white;
    padding: 10px;
    text-align: center;
}
.background{
    background-image: url('img/background.jpg');
    width: 100%;
    text-align: center;
}
input{
    border-radius: 20px 20px 20px 20px;
    background-color: #eee8d9;
}
@font-face{
    font-family: OpenSans;
    src: url('fonts/OpenSans-Bold.ttf');
}
